In [28]:
import os
import pandas as pd

file_name = r"c:\Users\minhwasoo\Downloads\금산_2023-10-30.csv"
df = pd.read_csv(file_name, skiprows=7, encoding='cp949')
df.columns = ['date', 'code', 'data']
data_column = df['data']

data_column


# Add a 'month' column for sorting
df['month'] = [i % 12 + 1 for i in range(len(df))]

In [31]:
df

        date  code   data  month
0    1993-01   238   13.3      1
1    1993-02   238   72.5      2
2    1993-03   238   44.5      3
3    1993-04   238   37.0      4
4    1993-05   238  132.0      5
..       ...   ...    ...    ...
355  2022-08   238  265.7      8
356  2022-09   238   68.2      9
357  2022-10   238   59.3     10
358  2022-11   238   54.2     11
359  2022-12   238   18.0     12

[360 rows x 4 columns]

In [30]:

# Pivot the table
pivot_df = df.pivot_table(index=df.index // 12, columns='month', values='data', aggfunc='first')

# Rename the columns with month names
month_names = ['{}월'.format(i) for i in range(1, 13)]
pivot_df.columns = month_names

# Print the resulting DataFrame
pivot_df

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,13.3,72.5,44.5,37.0,132.0,212.0,302.5,281.0,100.5,49.5,94.5,20.5
1,18.7,12.5,35.0,22.8,115.0,89.0,118.9,196.0,20.0,99.0,20.5,21.1
2,23.2,17.1,46.9,65.5,35.5,54.0,83.5,579.5,47.5,23.5,31.0,4.6
3,25.4,2.9,123.0,42.5,37.5,546.0,174.0,130.0,12.5,75.5,89.8,43.0
4,21.3,48.2,34.0,58.0,170.5,238.5,444.5,246.5,89.0,9.0,160.0,49.0
5,38.4,53.9,25.6,177.5,98.5,278.5,184.0,520.0,237.3,49.0,46.1,6.8
6,5.3,22.9,73.0,91.5,117.5,198.0,114.5,167.5,289.5,125.0,16.4,10.3
7,36.2,2.9,24.5,73.7,29.0,244.5,344.0,372.0,223.0,34.5,42.0,6.5
8,63.2,76.5,17.0,22.5,22.5,212.5,203.0,43.0,87.0,96.0,12.0,24.1
9,71.5,7.7,52.0,149.5,127.5,57.0,139.5,551.0,98.5,55.5,23.2,57.8
10,22.4,66.0,44.0,202.5,164.0,138.0,575.0,280.5,192.0,22.5,42.5,17.0
11,11.2,27.3,33.0,75.5,90.5,323.5,406.0,330.5,126.0,2.5,43.0,34.5
12,9.4,34.0,51.0,31.5,65.5,191.0,411.5,387.0,118.0,23.0,30.5,22.6
13,28.0,41.1,8.4,112.0,93.5,73.0,681.5,118.0,40.5,54.0,71.0,28.9
14,13.7,57.0,129.0,27.5,104.0,180.0,252.0,343.5,398.5,32.0,13.5,35.4
15,32.4,6.1,28.3,37.6,84.5,190.5,202.0,210.0,35.9,40.1,15.1,19.7
16,13.2,41.5,43.0,36.0,120.3,116.3,515.5,97.0,54.5,24.0,29.0,38.3
17,33.6,74.5,83.8,73.7,114.5,62.5,278.5,495.6,110.3,20.2,20.0,36.5
18,2.2,63.5,21.5,132.9,130.6,237.8,571.2,403.0,77.8,52.2,98.0,7.8
19,23.7,1.1,83.6,75.9,21.7,115.7,239.2,497.5,219.5,46.6,47.3,62.7
20,37.0,43.8,64.6,86.4,79.5,117.7,216.9,159.5,80.8,32.6,53.9,24.1
21,4.1,2.7,97.9,88.7,26.0,45.6,105.8,426.4,91.2,141.2,70.1,31.3
22,37.6,23.4,46.6,93.5,29.5,143.7,162.3,83.6,18.6,93.5,109.6,35.7
23,11.1,46.0,54.5,171.7,70.5,87.4,377.9,105.6,160.9,157.2,33.2,49.6
24,13.6,54.6,29.8,76.1,31.8,48.3,305.5,222.3,105.6,35.1,15.6,29.3
25,25.7,28.1,91.5,142.4,110.4,104.3,163.5,410.4,135.2,112.6,45.5,27.6
26,6.4,41.5,33.0,93.0,44.2,101.0,141.1,105.8,236.4,99.3,47.9,33.0
27,80.8,83.9,20.5,35.6,80.5,234.0,628.0,373.4,167.2,4.1,41.9,8.3
28,23.5,19.3,88.0,39.3,162.7,105.6,300.8,297.2,151.9,44.0,50.7,7.1
29,1.5,4.1,80.6,63.3,4.7,145.4,183.7,265.7,68.2,59.3,54.2,18.0